* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffffc9;
  backdrop-filter: blur(12px);
  border-bottom: 1px solid #e5e5e5;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: #111;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: 0.3s;
  font-weight: 500;
}

.nav-links a:hover {
  color: #0077ff;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #333;
  transition: 0.3s;
}

/* ----- RESPONSIVO ----- */

@media (max-width: 820px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 240px;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    padding: 100px 20px;
    transition: 0.4s ease;
  }

  .nav-links.open {
    right: 0;
  }

  .hamburger {
    display: flex;
  }
}
